<!DOCTYPE html>
<html>
<head>
  <title>OCR Web App</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <h1>OCR Web App</h1>
    <input type="file" id="imageInput">
    <button id="uploadButton">Upload & Process</button>
    <div id="outputText" class="output-box"></div>
    <div class="button-container">
      <button id="readButton" class="button" disabled>Read Text</button>
      <button id="searchButton" class="button" disabled>Search Text</button>
      <button id="copyButton" class="button" disabled>Copy Text</button>
    </div>
  </div>
  <script src="/script.js"></script>
</body>
</html>
